
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'app_employee_work_time_list' %}">
    work_time Listing
    </a>
</p>
    
<table class="table">
    <tr><td>work_type</td><td>{{ object.work_type }}</td></tr>
    <tr><td>hours_worked</td><td>{{ object.hours_worked }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>day_of_week</td><td>{{ object.day_of_week }}</td></tr>
    <tr><td>id</td><td>{{ object.id }}</td></tr>
    <tr><td>job_number</td><td>{{ object.job_number }}</td></tr>
    <tr><td>job_description</td><td>{{ object.job_description }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>job_phase</td><td>{{ object.job_phase }}</td></tr>
    <tr><td>job_category</td><td>{{ object.job_category }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}